
html {
    scroll-behavior: smooth;
}
.items h3:hover{
    transform:scale(1.04);
}


.logo {
    border-radius: 50%;
    margin-top: -5px;
}


.divno1{ 
    padding:3%;
  display:flex;
  height:400px;

}
.para{
    padding:2%;
    background-color: #ede6d6;
    background-color: #f0ead6;
    border: 1px solid #eaeaea;
     background-color:#d2b48c;
    margin-right:5%;
    border-top-left-radius:15% ;
    border-bottom-right-radius:15% ;
    margin-top: -25px;
    
}
.imgg{
    margin-top:-25px;
    width: 500px;
    height:400px;
    background-color: aqua;
    border-top-right-radius:20% ;
    border-bottom-left-radius:20% ;
    

}
.divno2{
    /* background-color: blue; */
    display:flex;
    justify-content: space-around;
    padding:1%;
}
.divno2-flex{
    display:flex;
}
.psize{
    font-size:50px;
}
.font-size{
    font-size:25px;
}
.choose{
    text-align: center;
}
.divno3{
    /* background-color: aquamarine; */
    display:flex;
    justify-content: space-around;
}
.footer {
    padding: 2%;
    display: flex;
    background-color: #5d4037;
    color: white;
    justify-content: space-around;
    margin-bottom: -8px;
}

.final-footer {
    padding-top: 30px;
    display: flex;
    background-color: #5d4037;
    justify-content: space-around;
    padding-bottom: 1%;
    color: white;
    margin-top: -8px;
}
.about-icon{
    padding:3%;
    width:350px;
    height:200px;
    background-color:  #d2b48c;
    background-color: #f0ead6;
      background-color: #d2b48c;
    text-align:center;
    border-radius: 15%;
}
.about-text{
    margin-top: 25px;
    font-size: 20px;
}
.divno4{
    padding: 3%;
    display:flex;
}
.divno4-text{
    margin-left: 5%;
}
.about-image{
    width: 600px;
    height:400px;
   
}
.imgg2{
    width:600px;
    height:400px;
    border-top-right-radius:15% ;
    border-bottom-left-radius:15% ;
}
.about-steps{
    display:flex;
    margin-top:-50px;
} 
.number{
    font-size: 50px;
    margin-top: 20px;
}
.letter{
    margin-left: 3%;
    margin-top: -5px;
}
.ssize{
    margin-top:-15px;
    font-size: 20px;;
}
.emoji-adjust {
   margin-top:50px;
   
}
.aboutus{
    text-align: center;
}