/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
} */

.form-container {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding-right: 70px;
    padding-left: 50px;
}

h2 {
    
        color: #333;
        font-size: 28px;
        margin-bottom: 30px;
        text-align: center;
    
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 18px;
}

.required {
    color: red;
    margin-left: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    width: 102%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    resize: vertical;
    height: 40px;
}



.success-msg {
   
    color: #155724;
   
    text-align: center;
}

.error-msg {
    /* background-color: #f8d7da; */
    color: #721c24;
    /* padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px; */
    text-align: center;
}
.submit-btn {
    display: block;
    width: 120px;
    padding: 10px;
    background-color: darkblue;
    border-color: darkblue;;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #001f4d;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}