.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 350px; /* Adjust based on your design */
}
.ok_button{
    background-color:#2ecc71;
    border-color: #2ecc71;

    color:#f5f5f5;
    border-radius:3px;
   
}
.ok_button:hover{
    transform:scale(1.05);
}
label {
    display: inline-block;
    margin-top: 10px;
    width: 150px; /* Ensures labels are aligned 
    text-align: left;*/
}

.line {
    flex-grow: 1; /* Makes all input fields take up the same width */
    height: 28px;
    border-radius: 3px;
    margin-top: 10px;
}

.gender-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.input_adjust{
    margin-left: 10px;;
}
.submit{
    border-color: #088f8f;
    margin-top: 20px;
    width:100px;
    height: 30px;
    /* margin-left:5px; */
    background-color: #088f8f;
    color:white;
    font-size: 15px;
    border-radius: 3px;
    margin-left:250px;
}
.submit:hover{
    background-color: #1e6b50;;
    /* transform: scale(1.105); */
}

.left-section img{
    /* background-color: aquamarine; */
    
    height:100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
     margin-top: 30%; 

}

 .left-section{
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-color: #088f8f;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    height: 500px;
    width: 350px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    

}

.right-section{
    background-color :whitesmoke;
    /* box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.8); */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width:500px;
    height: 540px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* .next-btn{
    color: white;
    background-color: black;
    border-radius: 60px;
    font-size: 20px;
    margin-top: 30px;

} */

.full-part{
    margin: 80px;
    margin-left: 300px;
    display:flex;
    border-radius: 10px;
    align-items: stretch; /*both user & details same height */
   
}
.alert_success {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom:20px;
    font-size: 16px;
    text-align: center;
    background-color: #d4edda; 

    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert_error {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

.alert-box {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 15px auto;
    width: 50%;
    text-align: center;
    border-radius: 5px;
  }