header {
    display: block;
    background-color: white;
    padding: 0px;
    height: 50px;
    margin-bottom: 7px;
}


.heading {

    font-size: 28px;
    font-weight: normal;
    color: black;
    margin-top: 8px;


}

.nav {

    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.adjust {
    display: flex;
    margin-right: 30px;
    margin-top: -5px;
}

.searchbar {

    height: 30px;
    width: 300px;
    margin-left: 300px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 3px;

}

.go {
    margin-left: -5px;
    margin-top: 5px;

}

.size {

    width: 1000px;
    display: flex;


}



.pages {
    background-color: #5d4037;
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.pages h3:hover {
    transform: scale(1.04);
}


.logo {
    border-radius: 50%;
    margin-top: -5px;
}

.plus {
    margin-top: 10px;
    align-items: center;
    /* background-color: rgb(12, 12, 220); */
    background-color: darkblue;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 50px;

}

.cate {
    margin-top: 10px;
    align-items: center;
    color: darkgreen;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 50px;

}

.books {
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: red;
    font-size: 50px;

}

.order {
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: rgb(235, 235, 14);
     /* color: rgb(194,144,0); */
    font-size: 50px;

}

.user {
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 50px;

}

.logoutt {
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: rgb(5, 179, 248);
    font-size: 50px;

}

.function {
    margin-top: 30px;
    display: flex;
    height: 150px;
    width: 220px;
    margin-left: 40px;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.function:hover {
    transform: scale(1.05);
    background-color: #cfe8ff;
}

.activity {
    margin-left: 135px;
    display: flex;
}

.function1 {
    display: flex;
    height: 150px;
    width: 220px;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.function1:hover {
    transform: scale(1.05);
    background-color: #cfe8ff;
}

.activity1 {
    margin-top: 50px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.footer {
    margin-top: 100px;
    background-color: #5d4037;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}

.footer i {
    margin-top: 5px;
}