.line {
    width: 330px;
    padding: 8px;
    font-size: 16px;
    border:none;
    border-bottom: 2px solid black;  
    margin-bottom: 25px;
    background-color:rgba(0,0,0,0);
    
}
.submit{
    margin-top: 10px;
    width:315px;
    height: 30px;
    background-color: black;
    color:white;
}
.icon-adjust{
    margin-left: -50px;
    margin-bottom: 30px;
}
.alert_success {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -60px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #d4edda; 
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert_error {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -60px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f8d7da; /* Light Red */
    color: #721c24; /* Dark Red Text */
    border: 1px solid #f5c6cb;
}

.alert_success {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #d4edda; /* Light Green */
    color: #155724;
    border: 1px solid #c3e6cb;
}
.reg_color {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
   
    width: 450px;
    height: 500px;
    padding-top: 20px;
    margin-top: 100px;
    border-radius: 3%;
}
.ok_button{
    background-color:#2ecc71;
    border-color: #2ecc71;
    /* background-color:#155724; */
    color:#f5f5f5;
    border-radius:3px;
    transition: transform 0.2s ease, filter 0.2s ease;
}
.ok_button:hover{
    transform: scale(1.05);
}
