body {
    background-color: #d1c4e9;

    background-color: #f44336;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    background: #fff;
    margin: 125px auto;
    /* margin-top: 100px; */
    padding: 25px;
    border-radius: 15px;
    color: #333;
    backdrop-filter: blur(10px);
    /* padding-right: 25px; */
}
.container h2 {
    margin-bottom: 20px;
    color: #512da8;
    color: #f44336;
   
}
.input-group {
    margin-bottom: 15px;
}
label {
    /* display: block; */
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-top: 5px;
}
.payment-methods {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.payment-methods label {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn {
    width: 100%;
   
    background-color: #512da8;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #d32f2f;
}
.book-details {
    width:95%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.book-details p {
    margin: 5px 0;
}