/* .line {
    width: 330px;
    color:black;
    padding: 8px;
    font-size: 16px;
    background-color:rgba(0,0,0,0);
    border:none;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    font-style: italic;
  
}
.line1 {
    width: 345px;
    color:black;
    padding: 8px;
    font-size: 16px;
    background-color:rgba(0,0,0,0);
    border:none;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    font-style: italic;
  
}
.submit{
    margin-top: 10px;
    width:345px;
    height: 30px;
    margin-left:10px;
    background-color:black;
    color:white;
    font-size: 15px;
}
.icon-adjust{
    margin-left: -50px;
    margin-bottom: 30px;
}


.alert_error {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

.alert_success {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom:20px;
    font-size: 16px;
    text-align: center;
    background-color: #d4edda; 

    color: #155724;
    border: 1px solid #c3e6cb;
}

.reg_color {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
   
    width: 500px;
    height: 530px;
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 3%;
}
.input-container {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 15px;
    display: block;
    margin-top: -15px; 
    margin-bottom:7px;
}
.star_align{
    display:flex;
}
.ok_button{
    background-color:#2ecc71;
    border-color: #2ecc71;

    color:#f5f5f5;
    border-radius:3px;
   
}

.line::placeholder {
    color: black; 
    opacity: 1; 
} */
.input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 350px; /* Adjust based on your design */
}

label {
    display: inline-block;
    margin-top: 10px;
    width: 150px; /* Ensures labels are aligned 
    text-align: left;*/
}

.line {
    flex-grow: 1; /* Makes all input fields take up the same width */
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.gender-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.submit{
    margin-top: 40px;
    width:345px;
    height: 30px;
    margin-left:8px;
    background-color:black;
    color:white;
    font-size: 15px;
    border-radius: 5px;
}

.left-section img{
    /* background-color: aquamarine; */
    
    height:100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
     margin-top: 30%; 

}

 .left-section{
    /* background-color:aquamarine; */
    /* background-color: #Ad52a6; */
    /* background-image: url("C:\Users\bala1\Downloads\WhatsApp Image 2025-04-03 at 10.45.02 PM.jpeg"); */
    /* background-image: url("back3.jpeg"); */
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-color: #0000cd;
    /* background-image: url("back7.jpeg"); */
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    height: 500px;
    width: 320px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    

}

.right-section{
    background-color :whitesmoke;
    /* box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.8); */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width:600px;
    height: 540px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* .next-btn{
    color: white;
    background-color: black;
    border-radius: 60px;
    font-size: 20px;
    margin-top: 30px;

} */

.full-part{
    margin: 80px;
    margin-left: 120px;
    display:flex;
    border-radius: 10px;
    align-items: stretch; /*both user & details same height */
   
}