.line {
    width: 330px;
    color:black;
    padding: 8px;
    font-size: 16px;
    background-color:rgba(0,0,0,0);
    border:none;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    font-style: italic;
  
}
.register{
    margin-top: 10px;
    width:325px;
    height: 30px;
    margin-left:10px;
    background-color:black;
    color:white;
    font-size: 15px;
}
.icon-adjust{
    margin-left: -50px;
    margin-bottom: 30px;
}


.alert_error {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom:-60px;
    text-align: center;
    background-color: #f8d7da; /* Light Red */
    color: #721c24; /* Dark Red Text */
    border: 1px solid #f5c6cb;
}

.alert_success {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom:-60px;
    font-size: 16px;
    text-align: center;
    background-color: #d4edda; 
    /* background-color: #ffdab9; */
    color: #155724;
    border: 1px solid #c3e6cb;
}

.reg_color {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
   
    width: 460px;
    height: 470px;
    padding-top: 20px;
    margin-top: 110px;
    border-radius: 3%;
}
.input-container {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 15px;
    display: block;
    margin-top: -15px; /* Ensures space below input */
    margin-bottom:7px;
}
.star_align{
    display:flex;
}
.ok_button{
    background-color:#2ecc71;
    border-color: #2ecc71;
    /* background-color:#155724; */
    color:#f5f5f5;
    border-radius:3px;
    transition: transform 0.2s ease, filter 0.2s ease;
   
}
.ok_button:hover{
    transform:scale(1.05);
}

.line::placeholder {
    color: black;  /* Change placeholder text color */
    opacity: 1;  /* Ensure full visibility */
}