body {
    display: flex;
      justify-content: center;
    }

    .review-container {
      margin-top: 150px;
      background: #ffffff;
      padding: 30px 40px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      /* width: 100%; */
      width: 300px;
    }

    .review-container h2 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #002244;
      text-align: center;
    }

    label {
      display: block;
      font-weight: 600;
      margin: 10px 0 5px;
      color: #333;
    }

    textarea {
      width: 92%;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      /* resize: vertical; */
      height: 120px;
      font-size: 15px;
    }

    input[type="file"] {
      border: none;
      margin-top: 5px;
    }

    button {
      width: 100%;
      background-color: #002244;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 20px;
      transition: background 0.3s ease;
    }

    button:hover {
     transform: scale(1.02);
    }