
body{
    min-height: 100vh;
    /* color: white; */
}

.sidebar{
    /* background-color: #1d1a1d; */
    /* background-color: #088f8f; */
    /* background-color: #2c2c2c;
    background-color: #4a5d23; */
    /* background-color: darkmagenta; */
    background-color:#008080;
    background-color :whitesmoke;
    background-color:#f5f5dc;
    background-color:#fffff0;
    background-color:#fff5ee;
    background-color :whitesmoke;
    /* background-color :whitesmoke; */
    color:white;
    z-index:1000;
    width: 300px;
    height: 100vh;
    position: fixed;
    top:0;
    overflow-y: auto;
    transition: 0.6s ease;
    /* transition-property: left; */
    /* left: -300px; */
    right: -300px;
    left: auto;
    transition-property: right;
    /* color: white; */
    /* color:black; */
}
header .img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
}

header .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}
.sidebar.active{
    /* left: 0px; */
    right: 0px;

}
header{
    /* background-color: #33363a; */
    /* background-color: teal; */
    /* background-color: darkmagenta; */
    background-color :#fafafa;
    background-color:#008080;
    background-color:#0f172a;
    background-color:#6f8faf;
    background-color:#3e2723;
    
    background-color:#4b2e2e;
    /* background-color: #5d4037; */
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.close-btn{
  /* padding-top: 5px; */
    position: absolute;
    font-size: 23px;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;

}

header h1{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 13px;
    /* font-weight: 500; */
}

.menu{
    width:100%;
    margin-top: 30px;
}
.item{
    cursor: pointer;
}
.item i{
    font-size: 20px;
    padding-right: 10px;
    /* background-color:aquamarine ; */
    color:black;
    height: 15px;
    width: 15px;
    padding-left: 20px;
    border-radius: 50%;
    
}
.item a{
    color:black;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 5px;
    line-height: 60px;
    padding-left: 10px;
}

.item a:hover{
    background-color :#d6cfc7;
    background-color: #E0E0E0;
    /* background-color: #dcdcdc; */
  
  
}

.menu-btn{
    position: absolute;
    font-size: 35px;
    cursor: pointer;
    margin: 25px;
    /* border-radius: 10px; */
}
