.heading_name{
    color:#2c3e50;
}
.filters {
    padding-left: 150px;
    padding-right: 150px;
    padding-top:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters select,
.filters input {
    padding: 10px;
    font-size: 16px;
}
.report-btn {
    background-color: #0052cc;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.report-btn:hover {
    background-color: #003d99;
}
.ticker-bar {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 8px 0;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid;
}

.ticker-bar.success {
    background-color: #c6f6d5; /* Green */
    color: #22543d;
    border-color: #9ae6b4;
}

.ticker-bar.error {
    background-color: #f8d7da; /* Red */
    color: #721c24;
    border-color: #f5c6cb;
}

.ticker-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.chart-wrapper {
    margin: 20px auto;
    width: 95%;
    max-width: 1000px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}